Repository aemcdonald/rancid-tomatillos-am-km, pull requests merged in 2020-10, with the labels that each got.

#20 Am readme
  .gitignore
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  pull-request-template.md
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Labels: Documentation

#28 Km homepage
  src/App.js
  src/MovieCard.css
  src/MovieCard.js
  src/MovieGrid.css
  src/MovieGrid.js
Labels: Feature, UI, css, enhancement, html

#29 Am fetch movies
  package-lock.json
  package.json
  src/App/App.css
  src/App/App.js
  src/App/App.test.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
  src/MovieGrid/MovieGrid.css
  src/MovieGrid/MovieGrid.js
  src/MovieGrid/MovieGrid.test.js
  src/index.js
Labels: Testing, UI

#30 Km movie view
  package-lock.json
  package.json
  src/ApiCalls.js
  src/App/App.js
  src/App/App.test.js
  src/MovieCard/MovieCard.js
  src/MovieGrid/MovieGrid.js
  src/MovieGrid/MovieGrid.test.js
  src/MovieView/MovieView.css
  src/MovieView/MovieView.js
  src/MovieView/MovieView.test.js
  src/index.js
  src/logo.svg
Labels: Feature, Refactor, UI, enhancement

#34 Km css update
  src/App/App.css
  src/App/App.js
  src/MovieCard/MovieCard.css
  src/MovieView/MovieView.css
  src/MovieView/MovieView.js
  src/RancidTomLogo.png
  src/index.js
Labels: css

#35 Km testing
  src/App/App.css
  src/App/App.js
  src/Login/Login.css
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieGrid/MovieGrid.css
  src/MovieView/MovieView.css
  src/MovieView/MovieView.js
  src/MovieView/MovieView.test.js
Labels: Error Handling, Feature, Testing, UI, css, enhancement, html

#38 Am async testing
  package-lock.json
  package.json
  src/ApiCalls.js
  src/Login/Login.test.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
  src/MovieGrid/MovieGrid.js
  src/MovieGrid/MovieGrid.test.js
  src/MovieView/MovieView.css
  src/MovieView/MovieView.js
  src/MovieView/MovieView.test.js
Labels: Testing, UI, bug, css

#39 Km login button bug
  src/App/App.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieGrid/MovieGrid.js
  src/MovieView/MovieView.js
Labels: Refactor, Testing, UI, bug

#57 Km show add ratings
  README.md
  package-lock.json
  package.json
  src/ApiCalls.js
  src/App/App.css
  src/App/App.js
  src/App/App.test.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
  src/MovieGrid/MovieGrid.js
  src/MovieView/MovieView.js
  src/Rating/Rating.css
  src/Rating/Rating.js
  src/Rating/Rating.test.js
Labels: Documentation, Feature, Refactor, UI, css, enhancement, html

#60 Am error handling testing
  package.json
  src/ApiCalls.js
  src/App/App.js
  src/App/App.test.js
  src/Login/Login.css
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
  src/MovieGrid/MovieGrid.js
  src/MovieGrid/MovieGrid.test.js
  src/MovieView/MovieView.js
  src/MovieView/MovieView.test.js
  src/Rating/Rating.css
  src/Rating/Rating.js
  src/Rating/Rating.test.js
  src/index.js
Labels: Error Handling, Feature, Refactor, Testing, UI, bug, css, enhancement

#69 Km readme
  README.md
  src/App/App.css
  src/App/App.js
  src/LogInHome.png
  src/LoginPage.png
  src/MovieView.png
  src/MovieView/MovieView.css
  src/RTJourney1.gif
  src/RTJourney2.gif
Labels: Documentation, css
